<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITEM EDITING FORM</title>
  </head>
  <body>
    <h1>EDITING A STORE ITEM</h1>
    <form
      action="{% url 'update-store-item' item_id=store_item.id %}"
      method="POST"
    >
      {% csrf_token %} {{form}}
      <button type="submit">Edit</button>
    </form>
  </body>
</html>
